<% provide(:title, "トップ") %>
<div class="center jumbotron">
  <h1>メルスク</h1>
  <%= image_tag 'mersq.png', :size =>'100x0'%>
  <p>このアプリケーションでは、登録されたユーザーのスクレイピングした商品を閲覧することができます。</p>
  <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
</div>
