<% provide(:title, "トップ") %>
<div class="center jumbotron">
  <h1>メルスク</h1>
  <p>このアプリケーションでは、登録されたユーザーのリサーチした商品を閲覧・登録・編集することができます。</p>
  <p>完全招待制です。</p>
  <%= link_to "サインアップ", signup_path, class: "btn btn-lg btn-primary" %>
</div>