<% provide(:title, @user) %>
<div>
  <h1>ご挨拶</h1>
</div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>この動画を作るにあたって</td>
    </tr>
    <tr>
      <td>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Q49WOLGpBiU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </td>
    </tr>
  </table>
