<% provide(:title, @user.name) %>
<div>
  <h1>メルスクの使い方</h1>
    <tr>
    <%= form_with(url:"#_path") do | search_item | %>
    <%= search_item.text_field :id, class: "col-lg-6 col-md-8" %>
    <%= search_item.submit "抽出", class: "btn btn-primary form_date_select" %>
    <% end %>
    </tr>
</div>
<div>
<%= button_to "CSVインポート", {controller: 'users', action: 'index'}, {method: :get, class: "btn btn-primary"} %>
</div>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>イメージ</td>
      <td>タイトル</td>
      <td>URL</td>
      <td>出品額</td>
      <td>ほげほげ</td>
    </tr>
  </table>
</div>
